@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nowrap {
    white-space: nowrap;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    /* border: 2px solid red; */
    font-family: 'Play', sans-serif;
    min-height: 100vh;
    padding: 2rem 10%;
    color: white;
    background-color: blue;
    background-image: linear-gradient(#000080, #000);

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    background: linear-gradient(to right, #00ffff, #1e90ff);
    background-clip: text;
    color: transparent;
}

.socials{
    display: flex;
    gap: 0.5rem;
}

.socials a {
    color: white;
    font-weight: bolder;
}

section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.resize {
    width: 300px;
    height: auto;
}

.first-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
}

.first-article .first-p {
    color: white;
    font-size: 0.6rem;
}

.first-article h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.first-article .second-p{
    background-color: #0d2f50;
    border: 2px solid transparent;
    border-radius: 3rem;
    padding: 0.6rem;
}

.second-article-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
    flex-flow: nowrap;
}

.alternative  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
}

.alternative span {
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: #0d2f50;
}

.third-article-percentages {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.third-article-percentages div {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
    padding: 0.5rem;
    background-color: #0d2f50;
}

.third-article-percentages .main-div {
    border-radius: 20px;
}


.line1 {
    background-color: blue;
    background-image: linear-gradient(180deg, blue, steelblue);
    width: 70px;
    margin-left: -40px;
    border: 1px solid transparent;
}

.line {
    background-color: brown;
    width: 70px;
    margin-left: -40px;
    border: 1px solid brown;
}

.fourth-article {
    background-color: rgb(50, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(109, 33, 33);
    padding: 0.5rem;
    gap: 0.2rem;
    width: 100%;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.8rem;
}

footer .socials {
    display: none;
}

@media screen and (min-width:576px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .socials {
        display: none;
    }

    .logo a {
        font-size: 3rem;
        transition: 0.3 ease-in-out;
    }

    .logo:hover {
        transform: scale(1.2);
    }

    footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    footer .socials {
        display: inline;
    }

}